.carrinho {
  background: #716cff;
  padding: 20px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 10px; /* Espaçamento entre o header e a div */
  margin-bottom: 30px;
  letter-spacing: 3px;
}

th {
  display: inline-block;
  margin-right: 150px;
}

th:first-child {
  margin-left: 30px;
}

tbody {
  max-width: 70%; /* Largura máxima da <tbody> */
}

tbody td {
  display: inline-block;
  margin-right: 20px; /* Espaçamento entre os itens */
  margin-bottom: 20px; /* Espaçamento vertical entre as linhas */
}

td.product:first-child,
td.massa:first-child,
td.tamanho:first-child,
td.valor-Total:first-child,
td.remove:first-child,
td.info:first-child,
td.qtdProduto:first-child {
  margin-left: 30px; /* Margem esquerda do primeiro item */
}
